body {
    margin: 0;
}

/** { outline: 1px solid red; } for debugging

/* FONTS */
h1 {
    font-family: "Petrona", serif;
    font-size: 60px;
    text-shadow: 2px 2px 4px gray;
    color: black;
}

@media screen and (max-width: 800px) {

    .h1 {
        font-size: 30px;
        margin-bottom: 5px;
        margin-top: 5px;
        ;
    }

}

/* h1 variation for page headings */

.variation {
    font-family: "Petrona", serif;
    font-size: 42px;
    font-weight: 800;
    text-shadow: none;
    color: rgb(86, 78, 102);
    text-align: Left;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* h1 size responsiveness for small viewports */
@media screen and (max-width: 800px) {

    .variation {
        font-size: 38px;
        margin-bottom: 5px;
        margin-top: 5px;
        ;
    }

}

h2 {
    font-family: "Petrona", serif;
    font-size: 20px;
    text-decoration-line: overline underline;
    text-shadow: 2px 2px 4px gray;
    line-height: 1.5;
    color: black;
}

@media screen and (max-width: 800px) {

    .h2 {
        font-size: 18px;
        ;
    }

}

h3 {
    font-family: "Petrona", serif;
    font-size: 35px;
    color: rgb(86, 78, 102);
    margin-bottom: 25px;
    margin-top: 25px;
}

@media screen and (max-width: 800px) {

    h3 {
        font-size: 25px;
        ;
    }

}

.footerh3 {
    font-family: "Petrona", serif;
    font-size: 35px;
    color: white;
    margin-bottom: 25px;
}

h4 {
    margin-bottom: 25px;
    color: rgb(145, 74, 41);
}

@media screen and (max-width: 800px) {

    .h4 {
        font-size: 15px;
        ;
    }

}

p {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    margin-bottom: 25px;
    color: black;
}

@media (max-width: 800px) {

    /* Medium breakpoint and up */
    p {
        font-size: 12px;
        margin-bottom: 12px;
    }
}

.card-text {
    font-size: 14px;
}

.ul {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    margin-bottom: 0px;
}

.body-a {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    color: #d34836;
}

.body-a:hover {
    color: rgb(178, 163, 181);
}

@media (max-width: 800px) {

    /* Medium breakpoint and up */
    .body-a {
        font-size: 12px;
    }
}

.body-ol {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
}

.container {
    width: 100%;
    margin-bottom: 25px;
}

.container-fluid {
    margin-bottom: 25px;
}

.container-small {
    padding: 25px 0px 25px 0px; /*TRBL */
}

@media (max-width: 800px) {

    /* Medium breakpoint and up */
    .container-small {
        padding: 25px;
    }
}

.sticky-top {
    height: 25px;
    padding: 0;

}


.nav-custom {
    padding: 0;
    background-color: #91818A;
}

#tear-divider {
    /* Set only the bottom border to be visible */
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 15px solid transparent;
    /* Use a transparent border as a placeholder */
    border-image-source: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 50'%3E%3Cpath style='display:block' d='M0 0v47.6l5-2c1 0 11 3 12 0 2 3 6-3 6 0 0-4 12 3 12 0 0 3 15-1 17 0 2-2 5-1 6 0 0-2 6 2 6 0s2 4 4 0c5 2 12-3 16 0 2-2 4-3 4 0 0 2 6-1 6 0 1 4 15-2 17 0h7c0 1 3-3 6 0h17c2 2 3 1 6 0h6c1-2 21-1 24 0 2 1 4 2 6 0 0-1 22 4 24 0 0 0 5-3 5 0 2-2 10 2 12 0 2 2 6 1 6 0 2 3 4-2 6 0 1 0 25-2 25 1l10-1c3 1 6 6 7 0 1 5 4-2 6 0 2-2 4 3 5 0h12c6 1 36 2 36 0 0 2 3 0 6 0h6c5-2 7 4 11 0 2 0 15 2 17 0h13c3-4 5 1 7 0h29c0-3 6 0 6 0h5c0 2 16-1 18 0 1 4 9-1 12 0s6-2 6 0c8-2 3 4 13 0h10c3 4 19 1 19 0 2 0 21 1 23-1 1 4 3-1 6 1 1 2 11-1 12-1 3 3 9 0 12 1 3-4 6 1 6 0h6c0-3 5 1 6-1 0 3 2 1 4 1 3 4 10-1 13 0 3-2 6-1 6 0 2 2 2 0 6 0 1-2 6 2 6 0 2 0 4 5 6 0h18c2 3 4 1 6 0l6-1c3 2 12 3 17 1 14 3 18 1 24 0 2-1 3 3 5 0 6 2 10-1 16 0 1 3 6 0 9 0 0-2 3 2 5 0 6-6 8 7 13 0 0-2 5 2 5 0 3 3 10 0 10 0 1 2 5-2 8 0 3-1 8 3 12 0h6c2 1 10 4 12 0h6c1-1 5 2 6 0 1 2 4-1 6 0 0-2 5 3 6-1 2 1 6 5 5 1 1 1 3-2 6 0 2-1 5 3 6 0 0 1 6 2 6 0 2 3 4-4 6 0 0-2 3 2 6 0 3 0 6 3 6 0 5 3 8-1 13 0 3-4 6 1 6 0h5c0-1 9 2 12 0 1-1 9 3 11 0h6c2 2 4 4 7 0 3 2 5-4 5-1 10 4 15-2 18 2 0-1 6 2 6-2 0 0 6-2 6 1 1 6 12 2 12 0 1 3 4-3 7 2 2-2 5 2 5 0 1 5 4-5 6 0 2-1 4 2 6 0 1 3 1 0 5 0V0H0Z' fill='%2391818A' ></path></svg>");
    border-image-slice: 0 0 10 0;
    border-image-repeat: repeat;
    padding: 0;
}

#tear-divider-2 {
    /* Set only the bottom border to be visible */
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 25px solid transparent;
    /* Use a transparent border as a placeholder */
    border-image-source: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 50'%3E%3Cpath style='display:block' d='M0 0v47.6l5-2c1 0 11 3 12 0 2 3 6-3 6 0 0-4 12 3 12 0 0 3 15-1 17 0 2-2 5-1 6 0 0-2 6 2 6 0s2 4 4 0c5 2 12-3 16 0 2-2 4-3 4 0 0 2 6-1 6 0 1 4 15-2 17 0h7c0 1 3-3 6 0h17c2 2 3 1 6 0h6c1-2 21-1 24 0 2 1 4 2 6 0 0-1 22 4 24 0 0 0 5-3 5 0 2-2 10 2 12 0 2 2 6 1 6 0 2 3 4-2 6 0 1 0 25-2 25 1l10-1c3 1 6 6 7 0 1 5 4-2 6 0 2-2 4 3 5 0h12c6 1 36 2 36 0 0 2 3 0 6 0h6c5-2 7 4 11 0 2 0 15 2 17 0h13c3-4 5 1 7 0h29c0-3 6 0 6 0h5c0 2 16-1 18 0 1 4 9-1 12 0s6-2 6 0c8-2 3 4 13 0h10c3 4 19 1 19 0 2 0 21 1 23-1 1 4 3-1 6 1 1 2 11-1 12-1 3 3 9 0 12 1 3-4 6 1 6 0h6c0-3 5 1 6-1 0 3 2 1 4 1 3 4 10-1 13 0 3-2 6-1 6 0 2 2 2 0 6 0 1-2 6 2 6 0 2 0 4 5 6 0h18c2 3 4 1 6 0l6-1c3 2 12 3 17 1 14 3 18 1 24 0 2-1 3 3 5 0 6 2 10-1 16 0 1 3 6 0 9 0 0-2 3 2 5 0 6-6 8 7 13 0 0-2 5 2 5 0 3 3 10 0 10 0 1 2 5-2 8 0 3-1 8 3 12 0h6c2 1 10 4 12 0h6c1-1 5 2 6 0 1 2 4-1 6 0 0-2 5 3 6-1 2 1 6 5 5 1 1 1 3-2 6 0 2-1 5 3 6 0 0 1 6 2 6 0 2 3 4-4 6 0 0-2 3 2 6 0 3 0 6 3 6 0 5 3 8-1 13 0 3-4 6 1 6 0h5c0-1 9 2 12 0 1-1 9 3 11 0h6c2 2 4 4 7 0 3 2 5-4 5-1 10 4 15-2 18 2 0-1 6 2 6-2 0 0 6-2 6 1 1 6 12 2 12 0 1 3 4-3 7 2 2-2 5 2 5 0 1 5 4-5 6 0 2-1 4 2 6 0 1 3 1 0 5 0V0H0Z' fill='%23ebdccb' ></path></svg>");
    border-image-slice: 0 0 5 0;
    border-image-repeat: repeat;
    padding: 0;
}

.hr-fade {

    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(145, 129, 138, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 20px;
    margin-top: 30px;
}

.hr-fade-2 {

    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 20px;
    margin-top: 30px;
}

.color-container {
    width: 100%;
    padding: 0 15% 0 15%
        /* TRBL */
    ;
    background-color: #ebdccb;
}

.color-container-2 {
    width: 100%;
    background-color: white;
}

.bg-color {
    background-color: #d34836;
}

/* Navbar font */

.nav {
    font-family: "Petrona", serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0;
    color: black;
    padding: 0;
}

@media (max-width: 800px) {

    .nav li a {
        font-size: 15px;
        padding-left: 15px;
    }
}

.nav li a {
    color: black !important;
    padding-left: 25px;
    padding-bottom: 0;
}

.nav li a:hover {
    color: white !important;
}

/* END FONTS */

.jumbotron {
    padding: 10%;
    background-image: url("Images/Jumbotron1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    margin-bottom: 0px;
}

/* Jumbotron image For any viewports less than 1000px wide */
@media (max-width: 800px) {

    .jumbotron {
        background-size: 800px;
        padding-top: 100px;
        margin-bottom: -50px;
        padding-bottom: 100px;
        /* Force the image to its minimum width */
    }

}

.shaped {
    border-radius: 15px 50px;
}

.bio-container {
    border-top: 100px solid transparent;
    border-image-source: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100"><path d="M1000 0 C500 0 500 96 0 96 V100 h1000 Z" fill="%23FFFFFF"/></svg>');
     border-image-slice: 200 0 0 0 ; 
    border-image-repeat: no-repeat;
    position: relative;
    top: -100px;
    margin-bottom: -100px;
    
}

@media (max-width: 800px) {

    .bio-container {
        top: -50px;
    }

}

.bio-divider {
    border-bottom: 100px solid transparent;
    border-image-source: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100"><path d="m0 4 86.6 23.1c42.1 11.2 85.5 16.9 129 16.9h29.7c73 0 129.8 17.1 127.3 16.5 83.5 22 171.3 22 254.8 0 123.2-32.4 162.9-.6 286-33.4L1000 4V0H0v4Z" fill="%23fff"></path></svg>');
    border-image-slice: 0 0 200 0;
    border-image-repeat: no-repeat;
    position: relative;
    margin-bottom: -100px;
    padding: 0;
}

@media (max-width: 800px) {

    .bio-container {
        border-top: 50px solid transparent;
        margin-bottom: -50px;
    }

}

.bio-bg {
    background-color: white;
    background-size: 100%;
    background-repeat: repeat;
    z-index: -1;
    margin-top: 0px;


}

.writing-bg {
    background-color:  #e3e1f1;
    /* background-image: url("Images/Leaves_pattern.png");
    background-repeat: repeat;
    background-attachment: fixed; */
    padding-top: 100px;
    padding-bottom: 80px;
}

.white-bg {
    background-color: white;
    /* background-image: url("Images/Leaves_pattern.png");
    background-repeat: repeat;
    background-attachment: fixed; */
    padding-top: 10px;
    padding-bottom: 90px;
}

.isd-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    position: relative;
    top: -10px;
    padding-bottom: 65px;

}

.art-container {
    padding-left: 6%;
    padding-right: 6%;
}

.isd-bg {
    /* background-image: url("Images/dog-pattern.png");
    background-size: 50%;
    background-repeat: repeat;
    background-attachment: fixed; */
    background-color: #e3e1f1;

}

.styled-fluid-2 {
    width: 85%;
    background-color: #e3e1f1;
    border-radius: 150px;
    padding: 5px;
    /* background-image: url("Images/brush_pattern.png");
    background-repeat: repeat;
    background-size: 75%; */
}

@media (max-width: 800px) {

    .styled-fluid-2 {
        border-radius: 50px;
        padding: 20px;
    }

}


.art-bg {
    background-image: url("Images/hex-pattern_purple.png");
    background-repeat: repeat;
    background-size: 25%;
    background-attachment: fixed;
    background-color: #B2A3B5;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 100px;
    margin-bottom: -25px;
}

@media (max-width: 800px) {

    .art-bg {
        background-size: 200%;
    }

}

.resume-divider {
    border-bottom: 100px solid transparent;
    border-image-source: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 100'%3E%3Cpath d='M1000 0V100H0v-4L1000 0z' fill='%23fff'/%3E%3C/svg%3E");
    border-image-slice: 0 0 200 0;
    border-image-repeat: no-repeat;
    position: relative;
    top: -110px;
    margin-bottom: -110px;
}

.color-resume-divider {
    border-bottom: 100px solid transparent;
    border-image-source: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 100'%3E%3Cpath d='M1000 0V100H0v-4L1000 0z' fill='%23e3e1f1'/%3E%3C/svg%3E");
    border-image-slice: 0 0 200 0;
    border-image-repeat: no-repeat;
    position: relative;
    top: -110px;
    margin-bottom: -110px;
}

.flip-divider-wrapper {
    transform: scaleX(-1);
}

.spacer {
    padding-top: 40px;
}

.resume-bg {
    background-color: #e3e1f1;
    padding-top: 30px;
    padding-bottom: 100px;
}

.footer-divider {
    border-top: 80px solid transparent;
    border-image-source: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 100'%3E%3Cpath d='M0 96l86.6-23.1c42.1-11.2 85.5-16.9 129-16.9h29.7c73 0 129.8-17.1 127.3-16.5 83.5-22 171.3-22 254.8 0 123.2 32.4 162.9 0.6 286 33.4L1000 96v4H0v-4Z' fill='%235c4552'/%3E%3C/svg%3E");
    border-image-slice: 200 0 0 0;
    border-image-repeat: no-repeat;
    position: relative;
    margin-bottom: -3px;
    margin-top: -80px;
}


.discord-divider {
    border-top: 100px solid transparent;
    border-image-source: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100"><path d="M0 96 150 56h160l190-50 190 50h160l150 40v4H0v-4z" fill="%23EBDCCB"/></svg>');
    border-image-slice: 200 0 0 0;
    border-image-repeat: no-repeat;
    position: relative;
    top: -100px;
}

@media (max-width: 800px) {

    .discord-divider {
        top: -60px;
    }

    .divider-margin {
        margin-top: -60px;
    }

}


.divider-margin {

    margin-bottom: -100px;
    padding-bottom: 85px;
}

@media (min-width: 800px) {

    .divider-margin {
        margin-top: -100px;
    }


}

/* Content background image */

#main {
    background-color: white;
    width: 100%;
}


.styled-fluid {
    width: 85%;
    background-color: white;
    border-radius: 150px;
    padding: 5px;
    /* background-image: url("Images/hex-pattern.png");
    background-repeat: repeat;
    background-size: 75%; */
}

@media (max-width: 800px) {

    .styled-fluid {
        border-radius: 50px;
        padding: 20px;
    }

}

footer {
    background-color: #5c4552;
    padding: 25px;
}

/* Social media styles */

.social:hover {
    color: #d34836;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.social {
    color: #ffffff;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/* Mailchimp neweletter form */

#mc_embed_signup {
    clear: left;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    color: #ffffff;
}

#mc-embedded-subscribe {
    background-color: #8d88a7 !important;
}

#mc-embedded-subscribe:hover {
    background-color: #d34836 !important;
}

/* Image gallery styles */

.thumbnail {
    max-width: 300px;
    /* The images will never be larger than 300px */
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    transition: transform 250ms;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

@media (max-width: 300px) {
    .thumbnail {
        max-width: 200px;
        width: 100%;
        height: auto;
    }
}


.thumbnail:hover {
    transform: translateY(-2px);
}

.card {
    max-width: 300px;
}

.example-img {
    max-width: 500px;
}